@page "/counter"

<PageTitle>LicznikKliknięć</PageTitle>

<h1>Licznik kliknięć</h1>

<p role="status">Liczba kliknięć: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Kliknij</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
