@page "/fetchdata"
@using Client.Components
<PageTitle>Kalkulator</PageTitle>
<h1 class="wsp-red">Dodawanie</h1>
<MathCalculations OperationType="dodawanie" />
<h1 class="wsp-red">Mnożenie</h1>
<MathCalculations OperationType="mnożenie" />
<h1 class="wsp-red">Odejmowanie</h1>
<MathCalculations OperationType=/>